@page
@model TorneoFutbol.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Listado de Partidos</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">FechaHora</th>
        <td>@Model.Partidos.FechaHora</td>
    </tr>
    <tr>
        <th scope="col">EquipoLocal</th>
        <td>@Model.Partidos.EquipoLocal</td>
    </tr>
    <tr>
        <th scope="col">EquipoVisitante</th>
        <td>@Model.Partidos.EquipoVisitante</td>
    </tr>
    <tr>
        <th scope="col">MarcadorInicial</th>
        <td>@Model.Partidos.MarcadorFinal</td>

    </tr>
    <tr>
        <th scope="col">Colegio</th>
        <td>@Model.Partidos.Colegio</td>
    </tr>
    <tr>
        <th scope="col">Equipos</th>
        @if (Model.partido.Equipo == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddEquipo" asp-rute-id="@Model.partido.Id" >
                    Asignar Equipos
                </a>
            </td>
        }
        else
        {
            <td>@Model.partido.Equipo.Nombre</td>
        }
        <td>@Model.Partidos.Equipo"></td>
    </tr>
    <tr>
        <th scope="col">Arbitros</th>
        @if (Model.partido.Arbitro == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddArbitro" asp-rute-id="@Model.partido.Id" >
                    Asignar Arbitros
                </a>
            </td>
        }
        else
        {
            <td>@Model.partido.Arbitro.Nombre</td>
        }
        <td>@Model.Partidos.Arbitro"></td>
    </tr>
    <tr>
        <th scope="col">Estadios</th>
        @if (Model.partido.Estadio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddEstadio" asp-rute-id="@Model.partido.Id" >
                    Asignar Estadios
                </a>
            </td>
        }
        else
        {
            <td>@Model.partido.Estadio.Nombre</td>
        }
        <td>@Model.Partidos.Estadio"></td>
    </tr>

</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>