@page
@model TorneoFutbol.App.Frontend.Jugadores.IndexModel
@{
}
<form method="get" class="form-inline">
    <label for="b" class="my-1 mr-2">Buscar</label>
    <input type="text" name="b" id="b" asp-for="@Model.bActual" class="my-1 mr-sm-2">
    <button type="submit" class="btn btn-primary my-1">Buscar</button>
</form>
<a class="btn btn-success" asp-page="./Create">Crear Jugador</a>
<h1>Listado de Jugadores</h1>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Numero</th>
                <th scope="col">Posicion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        </tbody>
            @foreach (var jugador in Model.jugadores)
            {
                <tr>
                    <td>@jugador.Nombre</td>
                    <td>@jugador.Numero</td>
                    <td>@jugador.Posicion</td>
                    <td>
                        <a class="btn btn-success" asp-page="./Details" asp-route-id="@jugador.Id">Detalle</a>
                        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@jugador.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
